engine-strict=true
prefer-workspace-packages=true
# Use Bun para instalar paquetes cuando se ejecuta npm
npm-command=bun
use-node-version=false
resolution-mode=highest
auto-install-peers=true
shamefully-hoist=true 